<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Site para gerenciamento dos dados do SIA 2"
        />
        <link
            rel="icon"
            href="{{url_for('static',filename='./imgs/favicon.ico')}}"
        />
        <meta name="robots" content="index, follow" />
        <meta
            name="keywords"
            content="SIA 2, ifpb, campus, santa rita, estufa, automatica"
        />
        <meta name="author" content="Ewerthon Kawan; Caio Breno" />
        <title>SIIA - {% block title %}Home{% endblock title %}</title>
        <link
            rel="stylesheet"
            href="{{url_for('static',filename='dist/css/output.css')}}"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
    </head>

    <body>
        {% include "components/header.html" %}
        <div>{% block content %}{% endblock content %}</div>
        {% include "components/footer.html" %}
        <script type="module">
            // Importa e inicializa o Firebase e a autenticação
            import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
            import {
                getAnalytics,
                logEvent,
            } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
            import {
                getAuth,
                signInWithPopup,
                GoogleAuthProvider,
            } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-auth.js";

            // Configurações Firebase
            const firebaseConfig = {
                apiKey: "AIzaSyCmQsh4PYlBaqQe5cBA8Axa0E7wMynbJvA",
                authDomain: "siia-9f7ea.firebaseapp.com",
                projectId: "siia-9f7ea",
                storageBucket: "siia-9f7ea.firebasestorage.app",
                messagingSenderId: "258292846311",
                appId: "1:258292846311:web:2c9b37ac8ecb03939d9c42",
                measurementId: "G-JN4RQ8CXMH",
            };

            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);
            const auth = getAuth(app);
            const provider = new GoogleAuthProvider();

            // Função para login pelo Google
            window.googleLogin = async function () {
                try {
                    const result = await signInWithPopup(auth, provider);
                    const user = result.user;

                    // Envia o token ID para o backend para validação e login
                    const idToken = await user.getIdToken();
                    fetch("/google_login", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ idToken }),
                    }).then((response) => {
                        if (response.redirected) {
                            logEvent(analytics, "login", { method: "Google" }); // Loga o evento de login
                            window.location.href = response.url; // Redireciona ao sucesso
                        }
                    });
                } catch (error) {
                    console.error("Erro ao fazer login com Google: ", error);
                }
            };

            // Loga um evento de visualização de página para Analytics
            document.addEventListener("DOMContentLoaded", () => {
                logEvent(analytics, "page_view", {
                    page_location: window.location.href,
                    page_path: window.location.pathname,
                });
            });

            //* Configuração do tema
            const themeToggle = document.getElementById("theme-toggle");

            // Carregar tema salvo ao carregar a página
            document.addEventListener("DOMContentLoaded", () => {
                const savedTheme = localStorage.getItem("theme") || "nord";
                themeToggle.checked = savedTheme === "night";
                document.documentElement.setAttribute("data-theme", savedTheme);
            });

            // Salvar e aplicar tema ao mudar o checkbox
            themeToggle.addEventListener("change", () => {
                const newTheme = themeToggle.checked ? "night" : "nord";
                document.documentElement.setAttribute("data-theme", newTheme);
                localStorage.setItem("theme", newTheme);
            });
        </script>
    </body>
</html>
